<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alien_stance_blink0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{316,450}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{316,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{318,452}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,452},{318,452}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,452},{318,452}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,452},{318,452}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,452},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,452},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1808},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1808},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1808},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1808},{316,450}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{316,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1808},{330,464}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{330,464}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1808},{330,466}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{330,466}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2274},{330,464}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{330,464}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2274},{332,464}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{332,464}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2274},{330,464}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{330,464}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2274},{328,462}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{328,462}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2274},{326,460}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{326,460}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2274},{326,462}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{326,462}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2738},{322,460}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{322,460}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2738},{318,458}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{318,458}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2738},{320,460}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{320,460}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2738},{318,462}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{318,462}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>speechBubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2738},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2738},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,3200},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUpFinished.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,3434},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3668},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AlienWalking-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53dd4268bbe889b1b73928398ed83cd3$</string>
            <key>textureFileName</key>
            <string>AlienWalking-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
