<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alien_stance_blink0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_blink0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_blink0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_blink0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_blink0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_blink0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{159,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,226},{159,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,226},{159,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,226},{159,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,226},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,226},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,452},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,452},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,452},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,452},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,452},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,678},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,678},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,678},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,678},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,678},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,904},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,904},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_stance_noblink0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,904},{159,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{159,226}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,904},{165,232}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{165,232}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,904},{165,234}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{165,234}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1138},{165,232}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{165,232}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1138},{167,232}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{167,232}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1138},{165,232}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{165,232}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1138},{165,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{165,230}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1138},{163,230}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{163,230}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1138},{163,232}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{163,232}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1370},{161,230}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{161,230}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1370},{159,228}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{159,228}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1370},{161,230}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{161,230}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>alien_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1370},{159,232}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{159,232}}</string>
                <key>sourceSize</key>
                <string>{189,236}</string>
            </dict>
            <key>speechBubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1370},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1370},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1602},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>speechBubble_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>streakPowerUpFinished.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>streakPowerUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>streakPowerUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>streakPowerUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>streakPowerUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1720},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>streakPowerUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1838},{146,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,118}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AlienWalking.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:729ee0fec96255f9ca84c781c2cf10d9$</string>
            <key>textureFileName</key>
            <string>AlienWalking.pvr.ccz</string>
        </dict>
    </dict>
</plist>
