<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alien_stance_blink0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{316,450}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{316,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_blink0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{318,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,452},{318,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,452},{318,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,452},{318,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,452},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,452},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,904},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1356},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1808},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1808},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1808},{316,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{316,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_stance_noblink0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1808},{316,450}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{316,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1808},{320,454}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{320,454}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1808},{320,454}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{320,454}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2262},{320,454}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{320,454}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2262},{320,454}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{320,454}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2262},{320,454}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{320,454}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2262},{318,452}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{318,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2262},{314,452}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{314,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2262},{314,452}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{314,452}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2716},{312,450}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{312,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2716},{308,450}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{308,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2716},{308,450}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{308,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>alien_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2716},{308,450}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{308,450}}</string>
                <key>sourceSize</key>
                <string>{378,472}</string>
            </dict>
            <key>speechBubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2716},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2716},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,3166},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>speechBubble_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUpFinished.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,3400},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
            <key>streakPowerUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3634},{290,234}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{290,234}}</string>
                <key>sourceSize</key>
                <string>{304,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AlienWalking-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:435e682472e25c4307e4b3d70f9fb704$</string>
            <key>textureFileName</key>
            <string>AlienWalking-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
