<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>a_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>b_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>c_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>d_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>e.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>e_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>f.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>f_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>g.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>g_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>h.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>h_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>i.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>i_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,106},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>j.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>j_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>k.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>k_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>l_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>n.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,212},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>n_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>o.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>o_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>p.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>p_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>q.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>q_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>r.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>r_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,318},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>s_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>t.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>t_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>u.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>u_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>v.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>v_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>w.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,424},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>w_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>wildcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>x_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>y.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>y_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>z_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ç.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,530},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ç_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ñ.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,636},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ñ_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,636},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alphabet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18bb2836d14b7edec6ce15457b04158c$</string>
            <key>textureFileName</key>
            <string>alphabet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
