<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudScape.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1426},{2050,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2050,126}}</string>
                <key>sourceSize</key>
                <string>{2050,126}</string>
            </dict>
            <key>floorLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1426},{2050,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2050,38}}</string>
                <key>sourceSize</key>
                <string>{2050,38}</string>
            </dict>
            <key>gameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{2050,1424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2050,1424}}</string>
                <key>sourceSize</key>
                <string>{2050,1424}</string>
            </dict>
            <key>letterTubeFrozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1094},{1064,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1064,1386}}</string>
                <key>sourceSize</key>
                <string>{1064,1386}</string>
            </dict>
            <key>letterfallOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3820},{976,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,176}}</string>
                <key>sourceSize</key>
                <string>{976,176}</string>
            </dict>
            <key>starBluePlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{3812,1},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
            <key>starBluePlusSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3997},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>starSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,4062},{26,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>starSmallGalaxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,3997},{42,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>starX.png</key>
            <dict>
                <key>frame</key>
                <string>{{3919,1},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>trapDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,3477},{342,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,148}}</string>
                <key>sourceSize</key>
                <string>{342,148}</string>
            </dict>
            <key>trapDoorHole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3477},{342,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,148}}</string>
                <key>sourceSize</key>
                <string>{342,148}</string>
            </dict>
            <key>trapDoorPassThrough.png</key>
            <dict>
                <key>frame</key>
                <string>{{3469,1},{342,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,126}}</string>
                <key>sourceSize</key>
                <string>{342,126}</string>
            </dict>
            <key>tubeDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1},{1092,1416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1092,1416}}</string>
                <key>sourceSize</key>
                <string>{1092,1416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameBackground-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aebd277443600268ac41f627cdabf9b$</string>
            <key>textureFileName</key>
            <string>gameBackground-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
