<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudScape.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,715},{1026,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1026,60}}</string>
                <key>sourceSize</key>
                <string>{1026,60}</string>
            </dict>
            <key>floorLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,715},{1026,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1026,22}}</string>
                <key>sourceSize</key>
                <string>{1026,22}</string>
            </dict>
            <key>gameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1026,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1026,713}}</string>
                <key>sourceSize</key>
                <string>{1026,713}</string>
            </dict>
            <key>letterTubeFrozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,549},{535,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,694}}</string>
                <key>sourceSize</key>
                <string>{535,694}</string>
            </dict>
            <key>letterfallOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1915},{489,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,89}}</string>
                <key>sourceSize</key>
                <string>{489,89}</string>
            </dict>
            <key>starBluePlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>starBluePlusSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2005},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>starSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2029},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>starSmallGalaxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2005},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>starX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,1},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>trapDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1742},{172,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,75}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>trapDoorHole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1742},{172,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,75}}</string>
                <key>sourceSize</key>
                <string>{172,75}</string>
            </dict>
            <key>trapDoorPassThrough.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1},{172,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,68}}</string>
                <key>sourceSize</key>
                <string>{172,68}</string>
            </dict>
            <key>tubeDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1},{547,712}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,712}}</string>
                <key>sourceSize</key>
                <string>{547,712}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameBackground.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa72117eb23c1770dbfe66bad7e44c5$</string>
            <key>textureFileName</key>
            <string>gameBackground.pvr.ccz</string>
        </dict>
    </dict>
</plist>
