<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>humanTubeFrozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{348,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,704}}</string>
                <key>sourceSize</key>
                <string>{348,704}</string>
            </dict>
            <key>humanTubeOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,350},{348,686}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,686}}</string>
                <key>sourceSize</key>
                <string>{348,688}</string>
            </dict>
            <key>letterDoorBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1},{310,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{310,76}}</string>
                <key>sourceSize</key>
                <string>{434,76}</string>
            </dict>
            <key>letterDoorTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1052},{434,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,76}}</string>
                <key>sourceSize</key>
                <string>{434,76}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,305},{214,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,173}}</string>
                <key>sourceSize</key>
                <string>{214,173}</string>
            </dict>
            <key>powerUpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,78},{52,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,288}}</string>
                <key>sourceSize</key>
                <string>{52,288}</string>
            </dict>
            <key>powerUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,975},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>powerUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,470},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>powerUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,393},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>powerUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,316},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>powerUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,239},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,131},{214,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,173}}</string>
                <key>sourceSize</key>
                <string>{214,173}</string>
            </dict>
            <key>scoreUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,131},{58,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,104}}</string>
                <key>sourceSize</key>
                <string>{58,104}</string>
            </dict>
            <key>squareSlot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>temperatureGaugeArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,78},{8,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,160}}</string>
                <key>sourceSize</key>
                <string>{8,160}</string>
            </dict>
            <key>temperatureMeterGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1487},{352,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,350}}</string>
                <key>sourceSize</key>
                <string>{352,350}</string>
            </dict>
            <key>timeMeter.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,547},{132,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,37}}</string>
                <key>sourceSize</key>
                <string>{132,37}</string>
            </dict>
            <key>tractorBeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{348,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,644}}</string>
                <key>sourceSize</key>
                <string>{348,644}</string>
            </dict>
            <key>tubeDoorButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1840},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>tubeDoorButtonUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1840},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>tubeDoorMainMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,479},{590,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,202}}</string>
                <key>sourceSize</key>
                <string>{590,202}</string>
            </dict>
            <key>wordCompleteButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,780},{194,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,128}}</string>
                <key>sourceSize</key>
                <string>{194,128}</string>
            </dict>
            <key>wordEraseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,585},{194,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,128}}</string>
                <key>sourceSize</key>
                <string>{194,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScreen-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e128407180291126ffdfc676055da552$</string>
            <key>textureFileName</key>
            <string>gameScreen-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
