<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameOverBackground_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameOverBackground_04-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5825c45723a7d9e25bfc9166bcab155d$</string>
            <key>textureFileName</key>
            <string>gameOverBackground_04-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
