<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_007_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{94,274}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,42},{94,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,274},{94,274}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,42},{94,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,572},{96,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{96,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,572},{116,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{116,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{152,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{152,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{170,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{170,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{216,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,286},{114,286}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,29},{114,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{148,282}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{148,282}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,548},{190,268}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{190,268}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,274},{212,260}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{212,260}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,816},{240,184}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{240,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{216,184}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,29},{216,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{176,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{176,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,534},{148,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,184},{138,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{138,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,368},{128,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,29},{128,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,184},{122,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,29},{122,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,496},{118,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{118,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,814},{116,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{116,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,368},{114,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,29},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,496},{114,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,680},{114,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,29},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,814},{116,184}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{116,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{118,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{118,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,692},{122,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,29},{122,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,508},{128,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,29},{128,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{134,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,29},{134,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,368},{140,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,29},{140,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,184},{146,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,29},{146,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,858},{148,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,29},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{94,274}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,42},{94,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_007.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcd01016192aba482f720fcd7c173879$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
