<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_007_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1116},{184,548}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{184,548}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,570},{190,570}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,61},{190,570}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1140},{232,570}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,61},{232,570}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1140},{304,570}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{304,570}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{338,570}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{338,570}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{432,570}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{432,570}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{228,568}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,61},{228,568}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1710},{296,560}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,61},{296,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1664},{380,536}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,60},{380,536}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,548},{424,520}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,60},{424,520}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{480,364}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{480,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1068},{432,364}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,61},{432,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1068},{352,364}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{352,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1664},{294,364}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{294,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,364},{272,364}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,61},{272,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,364},{254,364}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,61},{254,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,982},{242,364}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,61},{242,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,982},{234,364}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,61},{234,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1432},{232,364}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,61},{232,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1580},{228,364}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,61},{228,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,0},{228,364}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,61},{228,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,364},{228,364}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,61},{228,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,728},{230,364}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,61},{230,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1346},{234,364}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,61},{234,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,0},{242,364}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,61},{242,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,728},{254,364}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,61},{254,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,0},{268,364}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,61},{268,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,0},{280,364}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,61},{280,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,480},{292,364}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,61},{292,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1664},{294,364}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{294,364}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,568},{184,548}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_007-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:655e024550d6f1a0364149b7f028039c$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_007-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
