<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_001_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{164,550}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,82},{164,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,572},{164,550}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,82},{164,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,508},{164,550}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,82},{164,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,508},{164,550}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,82},{164,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{334,550}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,82},{334,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,238},{334,550}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,82},{334,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{238,560}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,72},{238,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,0},{238,558}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,72},{238,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,238},{270,550}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,72},{270,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,672},{296,546}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{296,546}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,736},{366,530}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,56},{366,530}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,304},{388,544}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{388,544}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{396,560}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{396,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,894},{480,428}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,428}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,968},{418,428}}</string>
                <key>offset</key>
                <string>{1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{418,428}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_drop_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,848},{402,366}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{402,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2212},{304,366}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,62},{304,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1102},{302,368}}</string>
                <key>offset</key>
                <string>{3,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,60},{302,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1386},{300,368}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,60},{300,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1404},{298,368}}</string>
                <key>offset</key>
                <string>{9,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,60},{298,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1702},{296,368}}</string>
                <key>offset</key>
                <string>{12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,60},{296,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1518},{294,368}}</string>
                <key>offset</key>
                <string>{7,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,60},{294,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1998},{292,368}}</string>
                <key>offset</key>
                <string>{2,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,60},{292,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1982},{292,368}}</string>
                <key>offset</key>
                <string>{-2,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,60},{292,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1918},{294,368}}</string>
                <key>offset</key>
                <string>{-5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,60},{294,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1686},{296,368}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,60},{296,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1754},{292,368}}</string>
                <key>offset</key>
                <string>{-6,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,60},{292,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1386},{292,368}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,60},{292,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1622},{296,368}}</string>
                <key>offset</key>
                <string>{-2,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,60},{296,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1322},{300,368}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,60},{300,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1214},{304,368}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,60},{304,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,0},{304,368}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,60},{304,368}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_001_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,508},{164,550}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,82},{164,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_001-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93174ce86f60fae45735cf47c6cf65db$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_001-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
