<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_007_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2392,0},{186,548}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,84},{186,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2206,0},{186,548}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,84},{186,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,0},{190,572}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,60},{190,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{232,572}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{232,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{304,572}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,60},{304,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{338,572}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,60},{338,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{432,572}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{432,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,0},{228,570}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,60},{228,570}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,0},{296,562}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{296,562}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,572},{380,536}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,60},{380,536}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,572},{424,520}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,60},{424,520}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,572},{480,366}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{480,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{432,366}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,60},{432,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,562},{352,366}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,60},{352,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2254,548},{296,366}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,60},{296,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,366},{274,366}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,60},{274,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3116,366},{254,366}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{254,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3368,0},{242,366}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,60},{242,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3370,366},{234,366}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{234,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3574,732},{232,366}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,60},{232,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3838,0},{228,366}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,60},{228,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3834,366},{228,366}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,60},{228,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3610,0},{228,366}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,60},{228,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3604,366},{230,366}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{230,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3208,732},{234,366}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,60},{234,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3126,0},{242,366}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,60},{242,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,732},{254,366}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,60},{254,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2858,0},{268,366}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,60},{268,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2578,0},{280,366}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,60},{280,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2550,548},{292,366}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,60},{292,366}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_007_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,0},{186,548}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,84},{186,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_007-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dc871868996e6985fbff20a94ec3676$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_007-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
