<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_001_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{82,276}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{82,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,288},{82,276}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{82,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,256},{82,276}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{82,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,256},{82,276}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{82,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{168,276}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{168,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,120},{168,276}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{168,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{120,280}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{120,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{120,280}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{120,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,120},{136,276}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,35},{136,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,338},{148,274}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{148,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{184,266}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{184,266}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,468},{194,272}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{194,272}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,280}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{198,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,370},{240,214}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,214}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{210,214}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{210,214}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_drop_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,266},{202,184}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{202,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,638},{152,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{152,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{152,184}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{152,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,638},{150,184}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{150,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{150,184}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{150,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{148,184}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,30},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,886},{148,184}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1034},{146,184}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{146,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,938},{146,184}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{146,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,790},{148,184}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,788},{148,184}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,936},{146,184}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{146,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,888},{146,184}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{146,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,740},{148,184}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,736},{150,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{150,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,584},{152,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{152,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,486},{152,184}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{152,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_001_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,256},{82,276}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,40},{82,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_001.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75bb6258cf6cf9fa9d96975c746dd082$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
