<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_003_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,526},{84,278}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{84,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,538},{84,278}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{84,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,526},{82,278}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,37},{82,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,538},{102,278}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,37},{102,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,564},{142,278}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{142,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{176,278}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{176,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,284}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{210,284}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,284},{118,292}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{118,292}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{150,292}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,18},{150,292}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{182,282}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{182,282}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{198,280}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{198,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{238,210}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,210}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{216,210}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{216,210}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{172,172}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{172,172}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,382},{144,172}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,37},{144,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,816},{136,172}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{136,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,522},{132,172}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{132,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,210},{132,172}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{132,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,842},{134,172}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{134,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,402},{136,172}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,37},{136,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,726},{140,172}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{140,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,210},{144,172}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{144,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,210},{144,172}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{144,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,402},{144,172}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,37},{144,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,816},{140,172}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{140,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,804},{138,172}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{138,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,554},{138,172}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{138,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,382},{138,172}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,37},{138,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,382},{140,172}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{140,172}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_003_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,546},{84,278}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{84,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_003.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d167a1c1f1e89132684c3038e83786c$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
