<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_004_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1144},{166,572}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,60},{166,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{166,572}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,60},{166,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{156,556}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,76},{156,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,422},{204,556}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,76},{204,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,320},{284,556}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,76},{284,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,0},{320,556}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,76},{320,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,0},{400,556}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,76},{400,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,400},{208,556}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,76},{208,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,604},{292,546}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,76},{292,546}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,608},{374,544}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,52},{374,544}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{422,568}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{422,568}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,626},{478,404}}</string>
                <key>offset</key>
                <string>{-1,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,404}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,896},{432,404}}</string>
                <key>offset</key>
                <string>{2,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{432,404}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1716},{348,330}}</string>
                <key>offset</key>
                <string>{6,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,76},{348,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1300},{294,330}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,76},{294,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1030},{270,330}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,76},{270,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,982},{252,330}}</string>
                <key>offset</key>
                <string>{10,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,76},{252,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1542},{238,330}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,76},{238,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1554},{236,330}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,76},{236,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1300},{242,330}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,76},{242,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1312},{250,330}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,76},{250,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,982},{256,330}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,76},{256,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1630},{258,330}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,76},{258,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1300},{256,330}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,76},{256,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1630},{250,330}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,76},{250,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1312},{242,330}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,76},{242,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1562},{248,330}}</string>
                <key>offset</key>
                <string>{8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,76},{248,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1030},{264,330}}</string>
                <key>offset</key>
                <string>{8,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,76},{264,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1300},{278,330}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,76},{278,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1630},{290,330}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,76},{290,330}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_004_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,572}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,60},{166,572}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_004-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784a81bcfc19f771a193e4d337ceea34$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_004-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
