<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_008_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,560},{166,560}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,72},{166,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1120},{166,560}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,72},{166,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1120},{164,560}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,73},{164,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,560},{212,560}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,73},{212,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{294,560}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,73},{294,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{336,560}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{336,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{418,560}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,73},{418,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1120},{224,560}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,74},{224,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{302,550}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,74},{302,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,550},{384,528}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,74},{384,528}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{432,502}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{432,502}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1680},{464,338}}</string>
                <key>offset</key>
                <string>{-8,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{464,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1078},{420,336}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,74},{420,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1680},{334,338}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,72},{334,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1498},{274,338}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,72},{274,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,252},{250,338}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,72},{250,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,840},{238,338}}</string>
                <key>offset</key>
                <string>{4,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,72},{238,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,502},{242,338}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,72},{242,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,0},{252,338}}</string>
                <key>offset</key>
                <string>{1,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,72},{252,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1698},{262,336}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,74},{262,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1362},{272,336}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,74},{272,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1306},{280,336}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{280,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,744},{282,336}}</string>
                <key>offset</key>
                <string>{2,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{282,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1026},{280,336}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,74},{280,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1026},{272,336}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,74},{272,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1698},{262,336}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,74},{262,336}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,0},{252,338}}</string>
                <key>offset</key>
                <string>{1,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{252,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,502},{246,338}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,72},{246,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1078},{256,338}}</string>
                <key>offset</key>
                <string>{8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,72},{256,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,502},{270,338}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,72},{270,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_fall_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1680},{274,338}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,72},{274,338}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_008_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{166,560}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,72},{166,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_008-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdc7609a63a6841673c4a80fdf3495d4$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_008-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
