<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_006_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{166,564}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,68},{166,564}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{166,564}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,68},{166,564}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,0},{164,558}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,68},{164,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,0},{212,558}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,68},{212,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{304,558}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,68},{304,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{352,558}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{352,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,564},{420,558}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,68},{420,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,0},{240,558}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,68},{240,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,0},{298,550}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,68},{298,550}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,558},{372,520}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,68},{372,520}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,558},{412,502}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,68},{412,502}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,550},{474,354}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{474,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{430,354}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,68},{430,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,0},{344,354}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{344,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,708},{288,354}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,68},{288,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3540,0},{266,354}}</string>
                <key>offset</key>
                <string>{11,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,68},{266,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3806,0},{256,354}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,68},{256,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3698,354},{258,354}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,68},{258,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3350,708},{268,354}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,68},{268,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2996,708},{278,354}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,68},{278,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,0},{288,354}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,68},{288,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2288,708},{294,354}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{294,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2288,354},{296,354}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,68},{296,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2412,0},{294,354}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,68},{294,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2584,354},{288,354}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,68},{288,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2994,0},{278,354}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,68},{278,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3272,0},{268,354}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,68},{268,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3432,354},{266,354}}</string>
                <key>offset</key>
                <string>{7,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,68},{266,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3156,354},{276,354}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,68},{276,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2872,354},{284,354}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,68},{284,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_006_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,564}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,68},{166,564}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_006-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddbfd786919fb2e9c501071b1a9df625$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_006-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
