<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_007_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,0},{94,274}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,42},{94,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,0},{94,274}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,42},{94,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{96,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{96,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{116,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{116,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{152,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{152,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{170,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{170,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,286}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{216,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{114,286}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,29},{114,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{148,282}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{148,282}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,286},{190,268}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{190,268}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,286},{212,260}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{212,260}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,286},{240,184}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{240,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{216,184}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,29},{216,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,282},{176,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{176,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,274},{148,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{148,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,184},{138,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{138,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,184},{128,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{128,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,368},{122,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,29},{122,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,0},{118,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{118,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,184},{116,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{116,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,184},{114,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,0},{114,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,0},{114,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,368},{116,184}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,29},{116,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,184},{118,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{118,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{122,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,29},{122,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,368},{128,184}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,29},{128,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,0},{134,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,29},{134,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,0},{140,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{140,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,274},{146,184}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,29},{146,184}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_007_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,0},{94,274}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,42},{94,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_007.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:556781adb555180a9d7b594cee5d9d8c$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
