<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_002_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,0},{184,548}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,0},{184,548}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,0},{184,548}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,0},{184,548}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,0},{286,548}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,84},{286,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,0},{286,548}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,84},{286,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{222,564}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,68},{222,564}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,564}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,68},{222,564}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{236,556}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{236,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{236,554}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{236,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,0},{270,546}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,68},{270,546}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,0},{344,534}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{344,534}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,546},{472,494}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{472,494}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,548},{472,494}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{472,494}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,548},{474,352}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,68},{474,352}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_drop_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{452,352}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,68},{452,352}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3698,708},{314,352}}</string>
                <key>offset</key>
                <string>{1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,68},{314,352}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,716},{304,352}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,68},{304,352}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2994,712},{298,352}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,68},{298,352}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3346,712},{290,352}}</string>
                <key>offset</key>
                <string>{-3,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,68},{290,352}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3544,354},{282,354}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{282,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3598,0},{280,354}}</string>
                <key>offset</key>
                <string>{-8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,66},{280,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3258,356},{286,356}}</string>
                <key>offset</key>
                <string>{-7,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,64},{286,356}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2992,0},{292,356}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,64},{292,356}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,358},{298,358}}</string>
                <key>offset</key>
                <string>{-5,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{298,358}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,0},{304,358}}</string>
                <key>offset</key>
                <string>{-4,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{304,358}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,556},{312,360}}</string>
                <key>offset</key>
                <string>{-4,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,60},{312,360}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,564},{318,360}}</string>
                <key>offset</key>
                <string>{-3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,60},{318,360}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2322,534},{320,358}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{320,358}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,0},{320,356}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{320,356}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2940,356},{318,356}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,64},{318,356}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3284,0},{314,354}}</string>
                <key>offset</key>
                <string>{1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{314,354}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_002_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,0},{184,548}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,84},{184,548}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_002-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296da0cffc2ed6c7af17fe11408076dd$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_002-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
