<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_005_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1094},{154,522}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,110},{154,522}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1094},{154,522}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,110},{154,522}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,554},{162,554}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,72},{162,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1118},{206,554}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,72},{206,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1118},{288,554}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,72},{288,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{344,554}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,72},{344,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{430,554}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{430,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1108},{202,552}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,72},{202,552}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,554},{284,540}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{284,540}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1672},{368,534}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,54},{368,534}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{404,564}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{404,564}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1616},{474,418}}</string>
                <key>offset</key>
                <string>{-3,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,418}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,522},{414,418}}</string>
                <key>offset</key>
                <string>{-1,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{414,418}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1198},{342,394}}</string>
                <key>offset</key>
                <string>{5,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,24},{342,394}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1604},{292,396}}</string>
                <key>offset</key>
                <string>{6,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,22},{292,396}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,800},{268,398}}</string>
                <key>offset</key>
                <string>{6,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,20},{268,398}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,400},{248,400}}</string>
                <key>offset</key>
                <string>{6,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,18},{248,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,0},{232,400}}</string>
                <key>offset</key>
                <string>{4,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,18},{232,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,0},{234,406}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,12},{234,406}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1604},{246,398}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,20},{246,398}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,806},{258,400}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,18},{258,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,0},{266,398}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,20},{266,398}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1340},{270,396}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,22},{270,396}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,400},{266,398}}</string>
                <key>offset</key>
                <string>{1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,20},{266,398}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,0},{258,400}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,18},{258,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,406},{262,400}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,18},{262,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{296,406}}</string>
                <key>offset</key>
                <string>{-4,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,12},{296,406}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1206},{330,398}}</string>
                <key>offset</key>
                <string>{-5,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,20},{330,398}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,940},{362,400}}</string>
                <key>offset</key>
                <string>{-5,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{362,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1660},{384,400}}</string>
                <key>offset</key>
                <string>{-6,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{384,400}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_005_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{154,522}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,110},{154,522}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_005-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49dcef3888d1c18e3fc7e27662c5d111$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_005-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
