<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_003_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2466,0},{166,554}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,78},{166,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2300,0},{166,554}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,78},{166,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2632,0},{164,554}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,76},{164,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,0},{204,554}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,76},{204,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,0},{284,554}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,76},{284,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,0},{352,556}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{352,556}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,582},{420,568}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,62},{420,568}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{236,582}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,49},{236,582}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,584}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,36},{300,584}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{362,560}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{362,560}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{396,558}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{396,558}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,558},{474,418}}</string>
                <key>offset</key>
                <string>{0,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{474,418}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{430,418}}</string>
                <key>offset</key>
                <string>{2,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{430,418}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,556},{344,342}}</string>
                <key>offset</key>
                <string>{8,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,76},{344,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,556},{344,342}}</string>
                <key>offset</key>
                <string>{8,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,76},{344,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2090,554},{288,342}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,76},{288,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3502,342},{272,342}}</string>
                <key>offset</key>
                <string>{9,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,76},{272,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3634,684},{262,342}}</string>
                <key>offset</key>
                <string>{9,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,76},{262,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3774,342},{262,342}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,76},{262,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,0},{266,342}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,76},{266,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3292,684},{272,342}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,76},{272,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,0},{280,342}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,76},{280,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2664,554},{286,342}}</string>
                <key>offset</key>
                <string>{-2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,76},{286,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,554},{288,342}}</string>
                <key>offset</key>
                <string>{-2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,76},{288,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2378,554},{286,342}}</string>
                <key>offset</key>
                <string>{-2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,76},{286,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,342},{280,342}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,76},{280,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,684},{274,342}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,76},{274,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3356,0},{272,342}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,76},{272,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3230,342},{272,342}}</string>
                <key>offset</key>
                <string>{9,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,76},{272,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2796,0},{280,342}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,76},{280,342}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
            <key>human_003_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2134,0},{166,554}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,78},{166,554}}</string>
                <key>sourceSize</key>
                <string>{480,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_003-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e219747ecb0990cdcc701b4b42e740b$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_003-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
