<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_004_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{84,286}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,30},{84,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{84,286}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,30},{84,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{78,278}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,38},{78,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,212},{102,278}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,38},{102,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,160},{142,278}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,38},{142,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{160,278}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,38},{160,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{200,278}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{200,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,200},{104,278}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,38},{104,278}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,302},{146,274}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,37},{146,274}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,304},{188,272}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{188,272}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{212,284}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{212,284}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,314},{240,202}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,202}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,448},{216,202}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{216,202}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{174,166}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{174,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,650},{148,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{148,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,816},{136,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{136,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,658},{126,166}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,37},{126,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,772},{120,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,37},{120,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,780},{118,166}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,37},{118,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,650},{122,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,37},{122,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,816},{126,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{126,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,492},{128,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{128,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,516},{130,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{130,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,650},{128,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{128,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,492},{126,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{126,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,658},{122,166}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,37},{122,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,784},{124,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{124,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,516},{132,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,37},{132,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,650},{140,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{140,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,816},{146,166}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{146,166}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_004_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,286}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,30},{84,286}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_004.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ef6d0b5203de1f7e2e26865ae169fba$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
