<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_008_blink_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,560},{84,280}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{84,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_blink_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,280},{84,280}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{84,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,560},{84,280}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,37},{84,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,280},{108,280}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{108,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{148,280}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{148,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{170,280}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{170,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,280}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{210,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,560},{112,280}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,37},{112,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{152,276}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{152,276}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,276},{192,264}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,37},{192,264}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{216,252}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{216,252}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{232,170}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{232,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,540},{210,168}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{210,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_drop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,840},{168,170}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{168,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,840},{138,170}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{138,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,126},{126,170}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,35},{126,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,422},{120,170}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{120,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,252},{122,170}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{122,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{126,170}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,35},{126,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,836},{132,168}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{132,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,698},{138,168}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,37},{138,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,420},{140,168}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,37},{140,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,592},{142,168}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{142,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,252},{140,168}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{140,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,560},{138,168}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,37},{138,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,836},{132,168}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{132,168}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{126,170}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,35},{126,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,422},{124,170}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{124,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,252},{128,170}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,35},{128,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_fall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,750},{136,170}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{136,170}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>human_008_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{84,280}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{84,280}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanAnimations_008.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8009a634e80e0abda3a7fd33d5e098f$</string>
            <key>textureFileName</key>
            <string>HumanAnimations_008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
