<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tubeDoorClose_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1002},{8,286}}</string>
                <key>offset</key>
                <string>{-83,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,55},{8,286}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{14,302}}</string>
                <key>offset</key>
                <string>{-78,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{14,302}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,359},{82,342}}</string>
                <key>offset</key>
                <string>{-42,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,359},{46,334}}</string>
                <key>offset</key>
                <string>{-58,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,334}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,442},{78,342}}</string>
                <key>offset</key>
                <string>{-42,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,878},{112,342}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,878},{136,342}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1},{154,342}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{154,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,346},{170,344}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,344}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,346},{176,344}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,344}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,180},{178,346}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,346}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorClose_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,1},{178,346}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,346}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,350},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,699},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,350},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,350},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,699},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,350},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorLight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,348}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1},{178,346}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,346}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,699},{178,346}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,346}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{176,344}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,344}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1},{170,344}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,344}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1},{154,342}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{154,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,878},{136,342}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,878},{118,342}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1},{84,342}}</string>
                <key>offset</key>
                <string>{-39,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,348},{82,342}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{82,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,344},{82,342}}</string>
                <key>offset</key>
                <string>{-42,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,342}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,671},{74,340}}</string>
                <key>offset</key>
                <string>{-47,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{74,340}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,596},{74,340}}</string>
                <key>offset</key>
                <string>{-50,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,340}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
            <key>tubeDoorOpen_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,521},{74,340}}</string>
                <key>offset</key>
                <string>{-50,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,340}}</string>
                <key>sourceSize</key>
                <string>{178,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>humanTube.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bb733520c285aa8f98420c7cdf7edbb$</string>
            <key>textureFileName</key>
            <string>humanTube.pvr.ccz</string>
        </dict>
    </dict>
</plist>
