<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tubeDoorClose_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1988},{14,570}}</string>
                <key>offset</key>
                <string>{-166,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,110},{14,570}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1387},{24,600}}</string>
                <key>offset</key>
                <string>{-155,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{24,600}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,333},{162,680}}</string>
                <key>offset</key>
                <string>{-84,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{162,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2790,1379},{90,664}}</string>
                <key>offset</key>
                <string>{-116,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{90,664}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,657},{154,680}}</string>
                <key>offset</key>
                <string>{-84,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{154,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2069,1742},{220,680}}</string>
                <key>offset</key>
                <string>{-51,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{220,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1742},{270,680}}</string>
                <key>offset</key>
                <string>{-30,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{270,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3141,356},{306,682}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{306,682}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2881,1348},{336,684}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{336,684}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2457,692},{348,686}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{348,686}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2102,692},{354,690}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,690}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorClose_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2103,1},{354,690}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,690}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,694},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1387},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,694},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,694},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1387},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,694},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorLight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{354,692}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,692}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2750,1},{354,690}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,690}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1387},{354,690}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,690}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2103,1383},{348,686}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{348,686}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2806,663},{336,684}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{336,684}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2458,356},{306,682}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{306,682}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1742},{270,680}}</string>
                <key>offset</key>
                <string>{-30,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{270,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1742},{234,680}}</string>
                <key>offset</key>
                <string>{-58,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1},{168,680}}</string>
                <key>offset</key>
                <string>{-78,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{168,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,496},{160,680}}</string>
                <key>offset</key>
                <string>{-81,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{160,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,170},{162,680}}</string>
                <key>offset</key>
                <string>{-84,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{162,680}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1106},{146,678}}</string>
                <key>offset</key>
                <string>{-94,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{146,678}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,959},{146,678}}</string>
                <key>offset</key>
                <string>{-100,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{146,678}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
            <key>tubeDoorOpen_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,812},{146,678}}</string>
                <key>offset</key>
                <string>{-100,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{146,678}}</string>
                <key>sourceSize</key>
                <string>{354,694}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>humanTube-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cd03ec016f9dbbb26c50cd1c507e589$</string>
            <key>textureFileName</key>
            <string>humanTube-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
