<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changeIdiomBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2050,1538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2050,1538}}</string>
                <key>sourceSize</key>
                <string>{2050,1538}</string>
            </dict>
            <key>okButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,0},{212,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,179}}</string>
                <key>sourceSize</key>
                <string>{212,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>I18n_Screen-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2262,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7bf86f53769d09ec3833b4f70cac942$</string>
            <key>textureFileName</key>
            <string>I18n_Screen-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
