<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changeIdiomBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1026,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1026,770}}</string>
                <key>sourceSize</key>
                <string>{1026,770}</string>
            </dict>
            <key>okButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,0},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>I18n_Screen.pvr.ccz</string>
            <key>size</key>
            <string>{1133,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9354892b0bfc443cfd60347166b74b20$</string>
            <key>textureFileName</key>
            <string>I18n_Screen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
