<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creditsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{214,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,181}}</string>
                <key>sourceSize</key>
                <string>{214,181}</string>
            </dict>
            <key>creditsScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1},{1056,1408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1056,1408}}</string>
                <key>sourceSize</key>
                <string>{1056,1408}</string>
            </dict>
            <key>gameModeSwitchEasy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>gameModeSwitchHard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>gameModeSwitchMedium.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>mainMenuLetter_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_03d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_04u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_05c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_06t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2218,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_07i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2354,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_08o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_09n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2626,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2762,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_11r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2898,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuLetter_12y.png</key>
            <dict>
                <key>frame</key>
                <string>{{3034,1},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>mainMenuPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1410},{2052,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2052,1540}}</string>
                <key>sourceSize</key>
                <string>{2052,1540}</string>
            </dict>
            <key>newGameConsole.png</key>
            <dict>
                <key>frame</key>
                <string>{{2054,1410},{534,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,664}}</string>
                <key>sourceSize</key>
                <string>{534,664}</string>
            </dict>
            <key>newGameConsoleBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2589,1410},{534,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,52}}</string>
                <key>sourceSize</key>
                <string>{534,52}</string>
            </dict>
            <key>newGameConsoleDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{3124,1410},{433,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,638}}</string>
                <key>sourceSize</key>
                <string>{433,638}</string>
            </dict>
            <key>resetTutorialDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{3558,1410},{348,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,116}}</string>
                <key>sourceSize</key>
                <string>{348,116}</string>
            </dict>
            <key>resetTutorialUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2951},{348,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,116}}</string>
                <key>sourceSize</key>
                <string>{348,116}</string>
            </dict>
            <key>settingsDoneButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2951},{214,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,181}}</string>
                <key>sourceSize</key>
                <string>{214,181}</string>
            </dict>
            <key>startButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2951},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
            <key>volumeKnob.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2951},{332,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,344}}</string>
                <key>sourceSize</key>
                <string>{332,344}</string>
            </dict>
            <key>volumeKnobUpState.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2951},{516,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,516}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuScreen-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c84d7886aa8196c05baf5043af81098$</string>
            <key>textureFileName</key>
            <string>mainMenuScreen-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
