<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creditsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{224,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,190}}</string>
                <key>sourceSize</key>
                <string>{224,192}</string>
            </dict>
            <key>creditsScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{1028,1396}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1028,1396}}</string>
                <key>sourceSize</key>
                <string>{1036,1404}</string>
            </dict>
            <key>gameModeSwitchEasy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>gameModeSwitchHard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>gameModeSwitchMedium.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>mainMenuLetter_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1},{130,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>mainMenuLetter_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_03d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1},{130,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>mainMenuLetter_04u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_05c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2023,1},{130,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>mainMenuLetter_06t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2153,1},{130,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>mainMenuLetter_07i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2283,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_08o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_09n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2543,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2673,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_11r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2803,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuLetter_12y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2933,1},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>mainMenuPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1397},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>newGameConsole.png</key>
            <dict>
                <key>frame</key>
                <string>{{2049,1397},{506,660}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{506,660}}</string>
                <key>sourceSize</key>
                <string>{526,660}</string>
            </dict>
            <key>newGameConsoleBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2555,1397},{518,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{518,48}}</string>
                <key>sourceSize</key>
                <string>{526,48}</string>
            </dict>
            <key>newGameConsoleDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{3073,1397},{428,618}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,618}}</string>
                <key>sourceSize</key>
                <string>{428,622}</string>
            </dict>
            <key>resetTutorialDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{3501,1397},{344,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,112}}</string>
                <key>sourceSize</key>
                <string>{344,112}</string>
            </dict>
            <key>resetTutorialUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2933},{344,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,112}}</string>
                <key>sourceSize</key>
                <string>{344,112}</string>
            </dict>
            <key>settingsDoneButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2933},{210,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,172}}</string>
                <key>sourceSize</key>
                <string>{210,172}</string>
            </dict>
            <key>startButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2933},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>startButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2933},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>volumeKnob.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2933},{330,342}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{330,342}}</string>
                <key>sourceSize</key>
                <string>{332,344}</string>
            </dict>
            <key>volumeKnobUpState.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2933},{268,274}}</string>
                <key>offset</key>
                <string>{-122,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuScreen-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd3aacc0d60a648aebfbbec1a6b2b0d$</string>
            <key>textureFileName</key>
            <string>mainMenuScreen-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
