<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creditsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{109,93}</string>
            </dict>
            <key>creditsScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1},{530,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,706}}</string>
                <key>sourceSize</key>
                <string>{530,706}</string>
            </dict>
            <key>gameModeSwitchEasy.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>gameModeSwitchHard.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>gameModeSwitchMedium.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>mainMenuLetter_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_03d.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_04u.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_05c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_06t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_07i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_08o.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_09n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_11r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuLetter_12y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>mainMenuPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,708},{1028,772}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1028,772}}</string>
                <key>sourceSize</key>
                <string>{1028,772}</string>
            </dict>
            <key>newGameConsole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,708},{269,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,334}}</string>
                <key>sourceSize</key>
                <string>{269,334}</string>
            </dict>
            <key>newGameConsoleBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,708},{269,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,28}}</string>
                <key>sourceSize</key>
                <string>{269,28}</string>
            </dict>
            <key>newGameConsoleDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,708},{219,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,321}}</string>
                <key>sourceSize</key>
                <string>{219,321}</string>
            </dict>
            <key>resetTutorialDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,708},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>resetTutorialUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1481},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>settingsDoneButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1481},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{109,93}</string>
            </dict>
            <key>startButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1481},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>volumeKnob.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1481},{168,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,174}}</string>
                <key>sourceSize</key>
                <string>{168,174}</string>
            </dict>
            <key>volumeKnobUpState.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1481},{272,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,278}}</string>
                <key>sourceSize</key>
                <string>{272,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuScreen.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6b0df75fa9c42d39fbdb88908082b4$</string>
            <key>textureFileName</key>
            <string>mainMenuScreen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
