<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>truck_rolling_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3440},{1192,528}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,30},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
            <key>truck_rolling_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2912},{1192,528}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
            <key>truck_rolling_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1720},{1192,528}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,32},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
            <key>truck_rolling_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,528},{1192,526}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,34},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2384,528},{1192,526}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,3438},{1192,526}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2912},{1192,526}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{1192,528}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
            <key>truck_rolling_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2384,0},{1192,528}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,31},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
            <key>truck_rolling_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1720},{1192,526}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,33},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,528},{1192,526}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,33},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1720},{1192,526}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,34},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,528},{1192,526}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,34},{1192,526}}</string>
                <key>sourceSize</key>
                <string>{1192,526}</string>
            </dict>
            <key>truck_rolling_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,0},{1192,528}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
            <key>truck_rolling_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1192,528}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,31},{1192,528}}</string>
                <key>sourceSize</key>
                <string>{1192,528}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TruckAnimation-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af334214e0436bbca3fc7114dd4d78bb$</string>
            <key>textureFileName</key>
            <string>TruckAnimation-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
