<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New Game</key>
	<string>NUEVO JUEGO</string>
	<key>Settings</key>
	<string>CONFIGURACIÓN</string>
	<key>Leaderboards</key>
	<string>CLASIFICACIONES</string>
	<key>you can change the language later on the SETTINGS menu</key>
	<string>(puedes cambiar el idioma después en el menú CONFIGURACIÓN)</string>
	<key>scrabble alphabet</key>
	<string>aaaaaaaaaaaaeeeeeeeeeeeeoooooooooiiiiiissssssnnnnnllllrrrrruuuuuttttdddddggccccbbmmpphhfvychqjllñrrxzkw</string>
	<key>Medium</key>
	<string>MEDIO</string>
	<key>Easy</key>
	<string>FÁCIL</string>
	<key>Hard</key>
	<string>DIFÍCIL</string>
	<key>Start</key>
	<string>INICIO</string>
	<key>Change Language</key>
	<string>CAMBIAR IDIOMA</string>
	<key>Tap to Continue</key>
	<string>TOQUE PARA CONTINUAR</string>
	<key>IntroMessageLine1</key>
	<string>Flotando en algún sitio no muy lejos de la tierra, el maligno emperador extraterrestre contaba los días antes de que empezara su invasión a la tierra. La única cosa que se interponía entre él y la total esclavitud humana era el idioma.</string>
	<key>IntroMessageLine2</key>
	<string>El recién patentado Language Extractor 6000™ pronto está para tomar sagazmente el siguiente nivel. Haciendo el aprendizaje del idioma fácil y la total destrucción de la tierra inminente.</string>
	<key>OnePointLetters</key>
	<string>aeoisnlrut</string>
	<key>TwoPointLetters</key>
	<string>dg</string>
	<key>ThreePointLetters</key>
	<string>cbmp</string>
	<key>FourPointLetters</key>
	<string>hfvy</string>
	<key>FivePointLetters</key>
	<string>q</string>
	<key>EightPointLetters</key>
	<string>jñx</string>
	<key>TenPointLetters</key>
	<string>z</string>
	<key>Rank</key>
	<string>#</string>
	<key>Name</key>
	<string>NOMBRE</string>
	<key>Date</key>
	<string>FECHA</string>
	<key>Score</key>
	<string>PUNTOS</string>
	<key>AllTime</key>
	<string>SIEMPRE</string>
	<key>Week</key>
	<string>SEMANA</string>
	<key>Today</key>
	<string>HOY</string>
	<key>Global</key>
	<string>GLOBAL</string>
	<key>Friends</key>
	<string>AMIGOS</string>
	<key>ResetTutorial</key>
	<string>REINICIAR TUTORIAL</string>
</dict>
</plist>
