<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New Game</key>
	<string>NEW GAME</string>
	<key>Settings</key>
	<string>SETTINGS</string>
	<key>Leaderboards</key>
	<string>LEADERBOARDS</string>
	<key>you can change the language later on the SETTINGS menu</key>
	<string>(you can change the language later on the SETTINGS menu)</string>
	<key>scrabble alphabet</key>
	<string>eeeeeeeeeeeeaaaaaaaaaiiiiiiiiioooooooonnnnnnrrrrrrttttttllllssssuuuuddddgggbbccmmppffhhvvwwyykjxqz</string>
	<key>Medium</key>
	<string>MEDIUM</string>
	<key>Easy</key>
	<string>EASY</string>
	<key>Hard</key>
	<string>HARD</string>
	<key>Start</key>
	<string>START</string>
	<key>Change Language</key>
	<string>CHANGE LANGUAGE</string>
	<key>Tap to Continue</key>
	<string>TAP TO CONTINUE</string>
	<key>IntroMessageLine1</key>
	<string>Floating somewhere not far from Earth, the evil alien overlord counts down the days until he can begin his invasion of Earth. The only thing standing between him and total human enslavement is the language barrier.</string>
	<key>IntroMessageLine2</key>
	<string>The newly patented Language Extractor 6000™ is about to take probing to the next level. Making learning the language easy and the total destruction of Earth - imminent.</string>
	<key>OnePointLetters</key>
	<string>eaionrtlsu</string>
	<key>TwoPointLetters</key>
	<string>dg</string>
	<key>ThreePointLetters</key>
	<string>bcmp</string>
	<key>FourPointLetters</key>
	<string>fhvwy</string>
	<key>FivePointLetters</key>
	<string>k</string>
	<key>EightPointLetters</key>
	<string>jx</string>
	<key>TenPointLetters</key>
	<string>qz</string>
</dict>
</plist>
