<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New Game</key>
	<string>NOVO JOGO</string>
	<key>Settings</key>
	<string>CONFIGURAÇÃO</string>
	<key>Leaderboards</key>
	<string>RANKINGS</string>
	<key>you can change the language later on the SETTINGS menu</key>
	<string>(para mudar o idioma acesse o menu de CONFIGURAÇÃO)</string>
	<key>scrabble alphabet</key>
	<string>aaaaaaaaaaaaaaeeeeeeeeeeeiiiiiiiiiioooooooooossssssssuuuuuuummmmmmrrrrrrtttttdddddlllllccccppppnnnnbbbççffgghhvvjjqxz</string>
	<key>Medium</key>
	<string>MÉDIO</string>
	<key>Easy</key>
	<string>FÁCIL</string>
	<key>Hard</key>
	<string>DIFÍCIL</string>
	<key>Start</key>
	<string>INICIAR</string>
	<key>Change Language</key>
	<string>MUDAR IDIOMA</string>
	<key>Tap to Continue</key>
	<string>TOQUE PARA CONTINUAR</string>
	<key>IntroMessageLine1</key>
	<string>Flutuando em algum lugar perto da Terra, o maligno imperador alienígena conta os dias para iniciar a invasão da Terra. A única coisa entre ele e a escravidão total da raça humana é a barreira do idioma.</string>
	<key>IntroMessageLine2</key>
	<string>O recém-patenteado Extrator de Idiomas 6000™ está pronto para remover a língua Portuguesa de humanos abduzidos. Com ele será simples aprender o idioma humano e a destruição da Terra é iminente.</string>
	<key>OnePointLetters</key>
	<string>aeiosumrt</string>
	<key>TwoPointLetters</key>
	<string>dlcp</string>
	<key>ThreePointLetters</key>
	<string>nbç</string>
	<key>FourPointLetters</key>
	<string>fghv</string>
	<key>FivePointLetters</key>
	<string>j</string>
	<key>SixPointLetters</key>
	<string>q</string>
	<key>EightPointLetters</key>
	<string>xz</string>
	<key>Rank</key>
	<string>#</string>
	<key>Name</key>
	<string>NOME</string>
	<key>Date</key>
	<string>DATA</string>
	<key>Score</key>
	<string>PONTOS</string>
	<key>AllTime</key>
	<string>SEMPRE</string>
	<key>Week</key>
	<string>SEMANA</string>
	<key>Today</key>
	<string>HOJE</string>
	<key>Global</key>
	<string>GLOBAL</string>
	<key>Friends</key>
	<string>AMIGOS</string>
	<key>ResetTutorial</key>
	<string>REINICIAR TUTORIAL</string>
	<key>Music</key>
	<string>MÚSICA</string>
	<key>Sound FX</key>
	<string>EFEITOS</string>
	<key>Main Menu Line 1</key>
	<string>MENU</string>
	<key>Main Menu Line 2</key>
	<string>PRINCIPAL</string>
	<key>Replay?</key>
	<string>DE NOVO?</string>
	<key>Game Over 1</key>
	<string>GAME</string>
	<key>Game Over 2</key>
	<string>OVER</string>
	<key>Skip Tutorial</key>
	<string>PULAR TUTORIAL</string>
	<key>Tutorial_1-1</key>
	<string>Este é o Extrator de Idiomas 6000™.

Sua missão é escolher as letras que caem no tubo e formar palavras no painel da máquina.

Apenas palavras com no mínimo 3 letras serão aceitas.</string>
	<key>Tutorial_1-2</key>
	<string>Cada letra não utilizada aumenta um pouco a temperatura da máquina.

Aprenda novas palavras para manter a máquina funcionado.

Usar a mesma palavra 2 vezes lhe dá pontos, mas não diminui a temperatura.

Se a máquina superaquecer, o jogo acaba.</string>
	<key>Tutorial_2-1</key>
	<string>Você formou sua primeira palavra!

Aperte o botão verde para aprendê-la e ganhar os pontos.

Cada letra tem seu valor e quanto maior a palavra, mais pontos extras você ganha.

Para devolver todas as letras ao tubo, aperte o botão vermelho.</string>
	<key>Tutorial_3-1</key>
	<string>Quando a máquina está na temperatura mínima, cada palavra enche um pouco sua barra de energia.

Quando a barra estiver cheia, você ativa o primeiro poder.</string>
	<key>Tutorial_4-1-1</key>
	<string>Parabéns, o primeiro poder está ativado!</string>
	<key>Tutorial_4-1-2</key>
	<string>Este poder lhe dá uma letra curinga que pode ser colocada em qualquer palavra. Coloque o &quot;?&quot; e a máquina saberá se aquela palavra existe ou não.

O botão verde acenderá se a palavra existir.</string>
	<key>Tutorial_4-2-1</key>
	<string>Mas atenção, se você guardar este poder e continuar a ganhar energia, poderá ativar poderes ainda maiores!</string>
	<key>Tutorial_4-2-2</key>
	<string>Este poder diminui a velocidade da máquina por um certo tempo.</string>
	<key>Tutorial_4-2-3</key>
	<string>Este poder enviará uma palavra inteira, mas embaralhada. Descubra a palavra e ganhe o dobro de pontos!</string>
	<key>Tutorial_4-3-1</key>
	<string>Enquanto este poder estiver ativo, as palavras valem pontos acumulados.</string>
	<key>Tutorial_4-3-2</key>
	<string>Por último, este poder salvará sua vida. Ele faz com que a temperatura da máquina caia imediatamente para zero!</string>
</dict>
</plist>
